body,
html {
    margin : 0;
    padding: 0;
}

.main_container {
    width  : 100vw;
    height : 100vh;
    display: flex;
    flex-direction: row;
}


.articles_container {
    width          : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}


.articles_box {
    width           : 70%;
    background-color: var(--main-color);
    border-radius   : .3rem;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    padding         : 2rem;
}

.articles_cards_container {
    list-style    : none;
    padding       : 0;
    width         : 80%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.article_card a {
    text-decoration: none;
    color          : black;
    font-size      : 1.3rem;
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.article_card a:hover {
    color: black;
}

.article_card+.article_card {
    margin-top: 1rem;
}

.article_card {
    width           : 80%;
    background-color: white;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    border-radius   : .3rem;
    height          : 5rem;
}